.address#address
  h5 Introdu adresa ta pentru a încerca notificările
  .selects
    input.select2#address-region(type='hidden',data-placeholder='Regiune', data-type='region')
    input.select2#address-locality(data-placeholder='Localitate', data-type='locality', data-parent='#address-region')
    input.select2#address-street(data-placeholder='Strada', data-type='street', data-parent='#address-locality')
    input.select2#address-building(data-placeholder='Bloc', data-type='building', data-parent='#address-street')
  .action
    button.btn.btn-default Vezi sistările planificate
