.available-services#available-services
  .container
    h3 Servicii conectate
    .text Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .panes
    .pane
      .image
        img(src='/images/icon-electicity.png')
      .title Energie electrică
    .pane
      .image
        img(src='/images/icon-gaz.png')
      .title Gaz
    .pane
      .image
        img(src='/images/icon-water-w.png')
      .title Apă caldă
    .pane
      .image
        img(src='/images/icon-water-c.png')
      .title Apă rece
  .clearfix
