.container
  #carousel-example-generic.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carousel-example-generic', data-slide-to='0')
      li(data-target='#carousel-example-generic', data-slide-to='1')
      li(data-target='#carousel-example-generic', data-slide-to='2')

    .carousel-inner
      .item.active
        table
          tr
            td(width='60%',valign='middle')
              .image
                img(src='/images/thumb.jpg')
            td(width='60%',valign='middle')
              .pane
                .title Notificări prin email
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .item
        table
          tr
            td(width='60%',valign='middle')
              .image
                img(src='/images/thumb.jpg')
            td(width='60%',valign='middle')
              .pane
                .title Notificări prin email
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .item
        table
          tr
            td(width='60%',valign='middle')
              .image
                img(src='/images/thumb.jpg')
            td(width='60%',valign='middle')
              .pane
                .title Notificări prin email
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      //- .item
      //-   .image
      //-     img(src='/images/thumb.jpg')
      //-   .pane
      //-     .title Notificări prin email
      //-     p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      //-     p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      //-   .clearfix
      //- .item
      //-   .image
      //-     img(src='/images/thumb.jpg')
      //-   .pane
      //-     .title Notificări prin email
      //-     p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      //-     p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      //-   .clearfix
