.notifications.container
  h3.notifications-header Pentru adresa căutată sunt programate următoarele sistări
  .notification.notification-electricity
    .notification-left
      .notification-date-wrapper
        .notification-date
          span.day 5
          span.month aug
      .notification-time
        span.time 9:00 - 15:00
    .notification-content
      .notification-haeder
        p
          | Marți, 18 august 2014, vor avea loc întreruperi programate ale furnizării energiei electrice.
          span.read-more detalii
        span.notification-icon.icon-electricity
      .notification-description
        p Pentru îmbunătăţirea serviciilor prestate clienţilor, Î.C.S. “RED UNION FENOSA” S.A. anunţă că Luni,18 august 2014, vor avea loc întreruperi programate ale furnizării energiei electrice.
        p Chişinău, sectorul Botanica, com. Băcioi:
        p str. Călătorilor, Cetatea Albă, Chiochiu Afanasie,  Chişinăului, Drumul Viilor, Florile Dalbe, Mărţişor, Plopilor, Schinoasa, Ştefan cel Mare şi Sfînt, Testemiţanu Nicolae – parţial în intervalul de timp între 08:00 – 15:00.
      .notification-footer
        p Pentru informaţii suplimentare contactaţi Serviciul Suport Clienţi al companiei la telefonul
        p.phone 022-43-11-11
  .notification.notification-water-cold
    .notification-left
      .notification-date-wrapper
        .notification-date
          span.day 5
          span.month aug
      .notification-time
        span.time 9:00 - 15:00
    .notification-content
      .notification-haeder
        p
          | Marți, 18 august 2014, vor avea loc întreruperi programate ale furnizării energiei electrice.
          span.read-more detalii
        span.notification-icon.icon-water
      .notification-description
        p Pentru îmbunătăţirea serviciilor prestate clienţilor, Î.C.S. “RED UNION FENOSA” S.A. anunţă că Luni,18 august 2014, vor avea loc întreruperi programate ale furnizării energiei electrice.
        p Chişinău, sectorul Botanica, com. Băcioi:
        p str. Călătorilor, Cetatea Albă, Chiochiu Afanasie,  Chişinăului, Drumul Viilor, Florile Dalbe, Mărţişor, Plopilor, Schinoasa, Ştefan cel Mare şi Sfînt, Testemiţanu Nicolae – parţial în intervalul de timp între 08:00 – 15:00.
      .notification-footer
        p Pentru informaţii suplimentare contactaţi Serviciul Suport Clienţi al companiei la telefonul
        p.phone 022-43-11-11
  .notification.notification-water-hot
    .notification-left
      .notification-date-wrapper
        .notification-date
          span.day 5
          span.month aug
      .notification-time
        span.time 9:00 - 15:00
    .notification-content
      .notification-haeder
        p
          | Marți, 18 august 2014, vor avea loc întreruperi programate ale furnizării energiei electrice.
          span.read-more.is-active detalii
        span.notification-icon.icon-water
      .notification-description.is-opened
        p Pentru îmbunătăţirea serviciilor prestate clienţilor, Î.C.S. “RED UNION FENOSA” S.A. anunţă că Luni,18 august 2014, vor avea loc întreruperi programate ale furnizării energiei electrice.
        p Chişinău, sectorul Botanica, com. Băcioi:
        p str. Călătorilor, Cetatea Albă, Chiochiu Afanasie,  Chişinăului, Drumul Viilor, Florile Dalbe, Mărţişor, Plopilor, Schinoasa, Ştefan cel Mare şi Sfînt, Testemiţanu Nicolae – parţial în intervalul de timp între 08:00 – 15:00.
      .notification-footer.is-opened
        p Pentru informaţii suplimentare contactaţi Serviciul Suport Clienţi al companiei la telefonul
        p.phone 022-43-11-11
