extends layout

block content
  h1 Notificari de Sistari
  p.lead Node.js web application
  if geo_location
    p Your IP Adress: #{geo_location.ll}

  hr
  p
    a.btn.btn-default(href='#', role='button') Afla mai mult »
